/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #3e64ff;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
p {
  margin-bottom: 1rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Inner styling */

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
nav .container ul {
  display: flex;
  list-style-type: none;
}
nav .container ul li a {
  color: #fff;
  margin-left: 1.5rem;
  font-weight: 700;
}
nav .container ul li a:hover {
  color: #000000;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}

header {
  background-color: #000000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
}
header h1 {
  font-size: 4rem;
  line-height: 1.1;
}
header p {
  font-size: 1.2rem;
}
header img {
  max-width: 400px;
}

.boxes .container {
  display: flex;
}
.boxes .container .box {
  flex: 1;
  background-color: #000000;
  padding: 1rem;
  margin: 1rem 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.boxes .container .box i {
  margin-right: 10px;
}

@media (max-width: 700px) {
  header .container {
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
  }
  .boxes .container {
    display: block;
    text-align: center;
  }
}
